{% extends 'base.html' %}

{% block title %}About{% endblock title %}

{% block body %}
<p>
Hello guys! I am Amit Kumar Datta
</p>

<p>
Welcome to <b>Amit Kumar Datta</b>, your number one source for all things related to <b>blogging</b>. We're dedicated to giving you the very best of blogging with a focus on quality and real-world problem solution.
</p>
<p>
Amit Kumar Datta has come a long way from its beginnings in <b>Chittagong</b> located in <b>Bangladesh</b>.
When Amit Kumar Datta first started out, our passion for blogging
drove us to start our own blog/website.
</p>
<p>
We hope you enjoy our blog as much as We enjoy offering them to you. If you have any questions or comments, please don't hesitate to contact us.
</p>
<p>
Sincerely,
Amit Kumar Datta
</p>
{% endblock body %}
